/* 
FONT SIZE SYSTEM(px)
10 / 12/ 14 / 16 / 18 /20 / 24/ 30 / 36 / 44 /52 / 62 / 74 / 86 / 98

Font weight
Default: 400

Line Height
Default: 1

padding
16px


SPACING SYSTEM(px)
2 / 4 / 8 / 12 / 16 / 24 /32 / 48 / 64 / 80 / 96 / 128

-Colors
Primary: #091c22
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* VARIABLES */
:root {
  --dark-green: #fafdfe;
  --light-green: #091c22;
  --dark-green-85: rgba(250, 253, 254, 0.85);
  --light-green-85: rgba(9, 28, 34, 0.85);
  --dark-green-3: rgba(250, 253, 254, 0.03);
  --light-green-3: rgba(9, 28, 34, 0.03);
  --dark-green-25: rgba(250, 253, 254, 0.25);
  --light-green-25: rgba(9, 28, 34, 0.25);
  --strokes: #213338;
  --blue: #8af2ff;

  /* Radius */
  --border-radius: 10px;
}

/* PRESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;
  color: var(--dark-green);
  background-color: var(--light-green);
}
a {
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 7px;
}
input,
button,
textarea {
  font: inherit;
  color: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem;
  border-bottom: 1px solid var(--strokes);
  background-color: var(--light-green-85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  font-size: 1.6rem;
  width: 100%;
  height: 5.2rem;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
}

/* UTILITY CLASSES */
.grid {
  display: grid;
  grid-template-columns: 1fr;
}
.grid-col--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col--4 {
  grid-template-columns: repeat(4, 1fr);
}
.offscreen {
  margin-left: -10000px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.list-container {
  /* display: flex; */
  display: none;
  gap: 1.6rem;
}
.btn-container {
  display: flex;
  gap: 1.6rem;
}
.btn,
.btn-menu {
  padding: 1.2rem;
  border: 1px solid var(--strokes);
  border-radius: var(--border-radius);
}
.btn {
  display: none;
}
.btn--white {
  color: var(--light-green);
  background-color: var(--dark-green);
}
.btn--one {
  background-color: var(--blue);
  color: var(--light-green);
  padding: 1.2rem 1.5rem;
}
.hero {
  margin-top: 5.2rem;
  padding: 3.2rem;
  border-bottom: 1px solid var(--strokes);
  text-align: center;
  height: 20rem;
}
.primary-heading {
  /* font-size: 6.2rem; */
  font-size: 3.6rem;
  font-weight: 300;
}
.secondary-heading {
  font-weight: 300;
}
.highlight {
  display: grid;
  grid-template-columns: 6.8rem 1fr 4.8rem;
  align-items: center;
  gap: 1.2rem;
  padding: 1.6rem;
  border-top: 1px solid var(--strokes);
}
.highlight button {
  border: 1px solid var(--strokes);
  background-color: transparent;
  /* padding: 1.6rem; */
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--dark-green); */
  font-size: 2rem;
  border-radius: var(--border-radius);
}
.faded {
  opacity: 0.7;
}
.insight {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.section-reel {
  width: 100%;
  min-height: 100dvh;
  background-color: #ccc;
  padding: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-container {
  padding: 2.4rem;
  border-top: 1px solid var(--strokes);
  border-bottom: 1px solid var(--strokes);
}
.section-reel {
  color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2.4rem;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100dvh;
  border-radius: 20px;
  overflow: hidden;
}
.reel-btn {
  width: 15rem;
  height: 5rem;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0.8rem;
  /* gap: 1.6rem; */
  background-color: var(--dark-green);
}
.btn-icon,
.btn-description {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-icon {
  background-color: var(--light-green);
  color: var(--dark-green);
  border-radius: var(--border-radius);
}
.background-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  /* left: 0;
  top: 0; */
  max-width: 100%;
  z-index: -1;
  object-fit: cover;
}
.fading-letters {
  display: inline-block;
}
.subhead {
  opacity: 0.7;
  margin-bottom: 2.4rem;
  text-transform: capitalize;
}
.our-work {
  padding: 4.4rem 2.4rem;
}

@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .background-clip {
    width: auto;
    height: 100%;
  }
}
