/* 
FONT SIZE SYSTEM(px)
10 / 12/ 14 / 16 / 18 /20 / 24/ 30 / 36 / 44 /52 / 62 / 74 / 86 / 98

Font weight
Default: 400

Line Height
Default: 1

padding
16px


SPACING SYSTEM(px)
2 / 4 / 8 / 12 / 16 / 24 /32 / 48 / 64 / 80 / 96 / 128

-Colors
Primary: #091c22
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* VARIABLES */
:root {
  --dark-green: #fafdfe;
  --light-green: #091c22;
  --dark-green-85: rgba(250, 253, 254, 0.85);
  --light-green-85: rgba(9, 28, 34, 0.85);
  --dark-green-3: rgba(250, 253, 254, 0.03);
  --light-green-3: rgba(9, 28, 34, 0.03);
  --dark-green-25: rgba(250, 253, 254, 0.25);
  --light-green-25: rgba(9, 28, 34, 0.25);
  --strokes: #213338;
  --blue: #8af2ff;

  /* Radius */
  --border-radius: 10px;
}

/* PRESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 400;
  color: var(--dark-green);
  background-color: var(--light-green);
  overflow-x: clip;
}
a {
  color: inherit;
  text-transform: capitalize;
  text-decoration: none;
}
img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 7px;
}
.bullet {
  width: 10px;
  height: 10px;
  background-color: blue;
  display: inline-block;
  border-radius: 50%;
  margin-right: 0.8rem;
}
.light-pink {
  background-color: #f4cce1;
}
.light-purple {
  background-color: #b994ff;
}
.hot-yellow {
  background-color: #ff8c00;
}
input,
button,
textarea {
  font: inherit;
  color: inherit;
}
button {
  background-color: inherit;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem;
  border-bottom: 1px solid var(--strokes);
  background-color: var(--light-green-85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  font-size: 1.6rem;
  width: 100%;
  height: 5.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

ul {
  list-style-type: none;
}

/* UTILITY CLASSES */
.grid,
.section-highlights {
  display: grid;
  grid-template-columns: 1fr;
}
.grid-col--1 {
  grid-template-columns: 1fr;
}
.grid-col--2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-col--3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-col--4 {
  grid-template-columns: repeat(4, 1fr);
}
.sticky-on-bar {
  position: relative;
  min-height: 200dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sticky {
  /* width: 100vw;
  height: 100vh; */
  background-color: var(--light-green);
  position: sticky;
  top: 5.2rem;
}
.offscreen {
  margin-left: -10000px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.mobile-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.wide-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8.4rem 2.4rem 2.4rem 2.4rem;
  width: 100vw;
  min-height: 100dvh;
  background-color: var(--light-green);
  transform: translateX(100%);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.list-container {
  display: flex;
  /* /* display: none; */
  gap: 1.6rem;
}
.wide-screen .logo {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.list-item {
  font-size: 3rem;
  margin-bottom: 3.2rem;
}
.list-container--mobile {
  display: block;

  position: absolute;
  width: 100%;
  height: 100%;
}
.btn-container {
  display: flex;
  gap: 1.6rem;
  align-self: flex-end;
}
.btn,
.btn-menu,
.work-btn,
.brand-btn,
.inspiring-btn,
.slider-btn,
.btn-footer {
  padding: 1.2rem;
  border: 1px solid var(--strokes);
  border-radius: var(--border-radius);
}

.btn-close {
  position: absolute;
  right: 2.4rem;
  top: 3.4rem;
}

.btn-footer {
  position: relative;
}

/* .btn {
  display: none;
} */
.btn--white {
  color: var(--light-green);
  background-color: var(--dark-green);
}
.btn--one {
  background-color: var(--blue);
  color: var(--light-green);
  padding: 1.2rem 1.5rem;
}
.brand-btn {
  background-color: var(--light-green);
  margin: 0.6rem;
}
.inspiring-btn {
  display: inline-block;
  margin: 1.6rem 0;
}

/* ===========|| HIDE ELEMENTS OFF THE SCREEN ||========== */
.hidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translate(100%, -100%);
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.left-hidden {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transform: translate(-100%, 100%);
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.right-hidden {
  /* opacity: 0;
  pointer-events: none;
  position: absolute; */
  transform: translateX(0%);
  /* visibility: hidden; */
  transition: all 0.5s ease-in-out;
}
/* =========|| END HIDE ELEMENTS ||========== */

.hero {
  margin-top: 5.2rem;
  padding: 3.2rem;
  border-bottom: 1px solid var(--strokes);
  text-align: center;
  height: 20rem;
}
.primary-heading {
  /* font-size: 6.2rem; */
  font-size: 3.6rem;
  font-weight: 300;
}
.secondary-heading,
.terciary-heading {
  font-weight: 300;
}

.highlight {
  display: grid;
  grid-template-columns: 6.8rem 1fr 4.8rem;
  align-items: center;
  gap: 1.2rem;
  padding: 1.6rem;
  border-top: 1px solid var(--strokes);
}
.highlight button {
  border: 1px solid var(--strokes);
  background-color: transparent;
  /* padding: 1.6rem; */
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* color: var(--dark-green); */
  font-size: 2rem;
  border-radius: var(--border-radius);
}
.faded {
  opacity: 0.7;
}
.letter.non-faded {
  opacity: 1;
  transition: all 0.2s ease;
}
.insight {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.section-reel {
  width: 100%;
  min-height: 100dvh;
  background-color: #ccc;
  padding: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.video-container {
  padding: 2.4rem;
  border-top: 1px solid var(--strokes);
  border-bottom: 1px solid var(--strokes);
}
.section-reel {
  color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2.4rem;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100dvh;
  border-radius: 20px;
  overflow: hidden;
}
.reel-btn {
  width: 15rem;
  height: 5rem;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0.8rem;
  /* gap: 1.6rem; */
  background-color: var(--dark-green);
}
.btn-icon,
.btn-description {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-icon {
  background-color: var(--light-green);
  color: var(--dark-green);
  border-radius: var(--border-radius);
}
.background-clip {
  position: absolute;
  right: 0;
  bottom: 0;
  /* left: 0;
  top: 0; */
  max-width: 100%;
  z-index: -1;
  object-fit: cover;
  transition: tranform 0.2s ease;
}
.about-us .secondary-heading,
.services .secondary-heading,
.titles .secondary-heading {
  display: flex;
  flex-wrap: wrap;
}
.fading-letters {
  display: flex;
}
.letter {
  position: relative;
  display: inline-block;
  line-height: 1.4;
  opacity: 0.2;
}

.subhead {
  opacity: 0.7;
  margin-bottom: 2.4rem;
  text-transform: capitalize;
}
.titles,
.titles-services,
.about-us {
  padding: 4.4rem 2.4rem;
}
.our-work > .secondary-heading {
  margin-bottom: 4.2rem;
}
.headings,
.inspiring-header {
  display: grid;
  gap: 1.6rem;
}
.inspiring .terciary-heading {
  font-size: 3rem;
}
.work-card,
.brand {
  display: grid;
  /* grid-template-rows: 1fr; */
  gap: 4.8rem;
  border: 1px solid var(--strokes);
  padding: 3.2rem 2.4rem;
  justify-content: center;
  align-items: center;
}
.inspiring {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
  padding: 4.8rem;
  border-bottom: 1px solid var(--strokes);
}
.quote-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3.2rem;
  padding: 3.2rem;
  border-bottom: 1px solid var(--strokes);
}
.quote-wrapper img {
  width: 60px;
  height: 60px;
}
.quote-wrapper img::after {
  content: url();
}
.quote-author {
  margin: 2.4rem 0 3.2rem;
}
.quote-slide blockquote {
  font-size: 2.4rem;
}
.about-us {
  padding: 6.4rem 3.2rem;
  border-bottom: 1px solid var(--strokes);
}
.founders {
  border-bottom: 1px solid var(--strokes);
}
.founder-card {
  padding: 3.2rem 2.4rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  border-bottom: 1px solid var(--strokes);
}
.sticky article {
  padding: 3.2rem 2.4rem;
  border-bottom: 1px solid var(--strokes);
}
.sticky svg {
  margin: 0 0 2.4rem 0;
}
.sticky h2 {
  margin-bottom: 2.4rem;
}
.txt-animated {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--strokes);
  background-color: inherit;
  position: relative;
  width: 100%;
  height: 30rem;
  cursor: pointer;
  overflow: hidden;
}
.txt-animated::before {
  content: '';
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-green);
  transition: bottom 0.6s ease-in-out;
}
.txt-animated:hover::before {
  bottom: 0;
}
.txt-animated:hover {
  color: var(--light-green);
}
.txt-animated article {
  overflow-x: hidden;
}
footer {
  padding: 1.6rem;
}

.copyright,
.theme {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.time {
  position: absolute;
  left: 50%;
  top: -4.2rem;
  transform: translate(-50%, 50%);
}
.copyright {
  justify-content: space-between;
  /* margin-top: 3.2rem; */
}
.theme {
  gap: 1.6rem;
}
.various-shaddow {
  font-size: 3.6rem;
}

.pargraph-scroll-X {
  padding: 8rem 2.4rem;
  width: 100vw;
  /* text-align: center; */
  font-size: 4.4rem;
  text-wrap: nowrap;
  white-space: nowrap;
  display: inline-block;
  animation: slide 20s infinite;
}
.parentheses {
  padding-inline: 1.6rem;
  font-size: 5.4rem;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-aspect-ratio: 16/9) {
  .background-clip {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .background-clip {
    width: auto;
    height: 100%;
  }
}

@media (min-width: 30rem) {
  .our-work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .inspiring {
    grid-template-columns: 2fr 1fr;
  }
  .quote-wrapper {
    grid-template-columns: 4.2rem 1fr;
  }
  .time {
    position: initial;
    transform: none;
    /* align-self: center; */
  }
}

@media (min-width: 48rem) {
  .section-highlights {
    grid-template-columns: repeat(3, 1fr);
  }
  .highlight {
    grid-template-columns: 1fr;
    gap: 1.6rem;
  }
  .highlight:not(:last-child) {
    border-right: 1px solid var(--strokes);
  }
  .fig-highlight {
    max-width: 8.6rem;
  }
  .titles,
  .titles-services,
  .about-us {
    padding: 18rem;
  }
  .brand {
    grid-template-columns: repeat(2, 1fr);
  }
  .inspire-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  /* .quote-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    padding: 3.2rem;
    border-bottom: 1px solid var(--strokes);
  } */
  .inspiring {
    grid-template-columns: 1fr;
    border-right: 1px solid var(--strokes);
  }
  .founders {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .founder-card:not(:last-child) {
    border-right: 1px solid var(--strokes);
  }
  .sticky {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 62rem) {
  .our-work {
    grid-template-columns: repeat(4, 1fr);
  }
  .work-card:first-child,
  .work-card:nth-child(2) {
    grid-column: span 2;
  }
  .highlight {
    grid-template-columns: 6.8rem 1fr 4.8rem;
  }
  .mobile-menu {
    display: none;
  }
  .list-item {
    font-size: inherit;
    margin-bottom: 0;
  }
  .wide-screen .logo {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  .btn-container {
    display: flex;
    gap: 1.6rem;
    align-self: center;
  }
  .btn-close {
    display: none;
  }
  .wide-screen {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3.2rem;
    width: 100vw;
    min-height: 5.2rem;
    max-height: 5.2rem;
    transform: translateX(0%);
    position: static;
    transition: none;
  }
}

/* @media; */
